services:
  app:
    image: ghcr.io/titerin/home-budget-build:latest
    container_name: home-budget
    restart: unless-stopped

    env_file:
      - .env.prod

    ports:
      - "80:80"
      - "443:443"

    volumes:
      - storage:/var/www/html/storage

      # ✅ Certificats TLS persistants
      - caddy-data:/data
      - caddy-config:/config

    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret

    volumes:
      - postgres-data:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U app -d app" ]
      interval: 5s
      timeout: 3s
      retries: 10

  migrate:
    image: ghcr.io/titerin/home-budget-build:latest
    restart: "no"
    env_file:
      - .env.prod
    depends_on:
      postgres:
        condition: service_healthy
    command: php artisan migrate --force

volumes:
  storage:
  postgres-data:

  # ✅ Obligatoire pour HTTPS
  caddy-data:
  caddy-config:
