services:
  app:
    image: ghcr.io/titerin/home-budget-build:latest
    container_name: home-budget
    restart: unless-stopped
    env_file:
      - .env.prod
    volumes:
      - storage:/var/www/html/storage
    depends_on:
      - postgres

  nginx:
    image: nginx:1.25-alpine
    container_name: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - storage:/var/www/html/storage:ro
    depends_on:
      - app

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: app
      POSTGRES_PASSWORD: secret
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  storage:
  postgres-data:
