name: CI / CD
on:
  push:
    branches:
      - "**"
  pull_request:

permissions:
  contents: read
  packages: write

jobs:
  tests:
    uses: ./.github/workflows/tests.yml
  build_and_push:
    needs: tests
    if: |
      github.event_name == 'pull_request' ||
      github.ref == 'refs/heads/main'
    uses: ./.github/workflows/build.yml
  deploy:
    needs: build_and_push
    secrets:
      SSH_HOST: ${{ secrets.SSH_HOST }}
      SSH_USER: ${{ secrets.SSH_USER }}
      SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
    if: github.ref == 'refs/heads/main'
    uses: ./.github/workflows/deploy.yml
