name: Deploy

on:
  push:
    branches:
      - main
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.DEPLOY_KEY }}
          script: |
            cd ~/tall-home-budget
            git pull origin ${{ github.ref_name }}
            docker compose -f docker-compose.prod.yml build laravel-${{ github.ref_name == 'main' && 'prod' || 'preprod' }}
            docker compose -f docker-compose.prod.yml up -d laravel-${{ github.ref_name == 'main' && 'prod' || 'preprod' }}
