on: 
  push:
    branches:
      - main
      - staging

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: |
          composer install --no-dev --optimize-autoloader
          npm install
          npm run build

      - name: Deploy to VPS
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USERNAME }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            # Définir le chemin en fonction de la branche
            if [ "${{ github.ref }}" = "refs/heads/main" ]; then
              # Déploiement production
              DEPLOY_PATH=/home/webapp/sites/home-budget.titerin.ovh
            else
              # Déploiement staging
              DEPLOY_PATH=/home/webapp/sites/home-budget--staging.titerin.ovh
            fi

            # Déploiement commun
            cd $DEPLOY_PATH
            git reset --hard
            git pull origin ${GITHUB_REF#refs/heads/}
            composer install --no-dev --optimize-autoloader
            npm ci
            npm run build
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
        